* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15;
  font-family: "Inter", sans-serif;
}

.footer {
  margin-top: 150px;
}
.footer .container {
  position: relative;
  z-index: 5;
}
.footer .container .row .footer-top {
  display: flex;
  flex-direction: row;
}
.footer .container .row .footer-top .col {
  display: flex;
}
.footer .container .row .footer-top .col .hr {
  height: 140px;
  width: 3px;
  background: rgb(203, 200, 200);
  margin-right: 15px;
}
.footer .container .row .footer-top .col .item h4 {
  font-weight: 600;
}
.footer .container .row .footer-top .col .item p {
  font-size: 16px;
  font-weight: 500;
}
.footer .container .row .footer-top .col .item a {
  color: red;
  text-decoration: none;
}
.footer .container .row .footer-bottom {
  margin: 50px 0;
  display: flex;
}
.footer .container .row .footer-bottom .col {
  display: flex;
}
.footer .container .row .footer-bottom .col .hr {
  height: 120px;
  width: 3px;
  background: rgb(203, 200, 200);
  margin-right: 15px;
}
.footer .container .row .footer-bottom .col .item {
  height: 100%;
}
.footer .container .row .footer-bottom .col .item h4 {
  font-weight: 600;
}
.footer .container .row .footer-bottom .col .item p {
  font-size: 16px;
  font-weight: 500;
  height: 100%;
}
.footer .container .row .footer-bottom .col .item a {
  display: block;
  margin-top: -80px;
  color: red;
  text-decoration: none;
}
.footer .background-footer {
  background: rgb(227, 223, 223);
  height: 250px;
  margin-top: -230px;
  z-index: 1;
}