* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15;
  font-family: "Inter", sans-serif;
}

span {
  color: red;
}

.register {
  margin-top: 50px;
}
.register h2 {
  text-align: center;
  size: 40px;
  color: #000;
  font-weight: 400;
  margin-bottom: 50px;
}
.register .container {
  display: flex;
  justify-content: space-around;
}
.register .container .col-l input {
  border: none;
  border-bottom: 4px solid #AE18E2;
  outline: none;
  width: 400px;
  padding: 10px 0;
  font-size: 20px;
}
.register .container .col-r input {
  border: none;
  border-bottom: 4px solid #AE18E2;
  outline: none;
  padding: 10px 0;
  padding-right: 200px;
  font-size: 20px;
}
.register .container .col-r .gender {
  margin-top: 33px;
  font-size: 20px;
  padding-right: 20px;
}
.register .container .col-r .gender .form-check {
  padding: 0;
}
.register .container .col-r .gender input {
  margin: 0 60px;
  border: 2px solid #AE18E2;
  margin-bottom: 80px;
}
.register .container .col-r .submit a {
  text-decoration: none;
  color: #fff;
  background-color: #AE18E2;
  font-size: 20px;
  padding: 10px 80px;
}