@import 'page';
.header {
    .header-top {
        background-color: $bg-dark;
        display: flex;
        justify-content: space-between;
        padding-top: -10px;
        .logo {
            padding: 10px 30px;
        }
        .login-register {
            padding: 10px 30px;
            display: flex;
            justify-content: space-around;
            @include text($text-3xl, $text-light, $text-c1-light);
            i {
                padding-top: 2px;
                // padding-right: 10px;
            }
            a {
                margin: 7px 0 0 50px;
                text-decoration: none;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                color: #F7F7F7;
                @include text($text-base, $text-light, $text-c1-light);
            }
        }
    }
    .header-bottom {
        margin-top: 5px;
        nav {
            a {
                text-decoration: none;
                margin-left: 30px;
                position: relative;
                line-height: 24px;
                color: #000000;
                @include text($text-1xl, $text-light, $text-c1-dark);
                opacity: 0.7;
                transition: 0.5s;
                margin-bottom: 3px;
            }
            a:hover {
                opacity: 1;
                border-bottom: 2px solid $text-c1-dark;
            }
            .home {
                font-family: 'Inter';
                font-style: normal;
                font-weight: $text-regular;
                border-bottom: 2px solid $text-c1-dark;
                opacity: 1;
            }
        }
    }
}